{% extends 'layout.html' %}

{% block title %}Data Training{% endblock %}

{% block content %}
<h2>Data Training</h2>
<div>
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <div>
        <p><td>Yang perlu diketahui sebelum melatih data</td></p>
            <ol>
                <li>1. Untuk menginput data untuk melatih data berbeda sama dengan mengiput biasa</li>
                <li>2. Untuk menginput data untuk melatih data berbeda sama dengan mengiput biasa</li>
                <li>3. Untuk menginput data untuk melatih data berbeda sama dengan mengiput biasa</li>
            </ol>
        <p><td><i>Harap teliti untuk menginputkan data!</i></td></p>
            <hr>
    </div>

    <h3>Langkah 1 - Rekam suara anda</h3>
    <div style="max-width: 28em;">
		<p>Konversi audio ke file tipe .wav:</p>

		<select id="encodingTypeSelect">
		  <option value="wav">Waveform Audio (.wav)</option>
		</select>
		<div id="controls">
			<button id="recordButton">Record</button>
			<button id="stopButton" disabled>Stop</button>
		</div>
		<div id="formats"></div>
		<pre>Log</pre>
		<pre id="log"></pre>
        <br>
        <h3>Langkah 2 - Unduh hasil rekaman </h3> 
		<ol id="recordingsList"></ol>
    </div>

    <h3>Langkah 3 - Upload file .wav anda</h3> 

    <div id="speechContainer">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
        
    </div>

        <h3>Langkah 4 - Konversi Speech ke Teks </h3> 
        <input type="submit" id="submitButton" value="Transcribe"/>
    </form>
    
        {% if transcript != "" %}
            <div id="speechTranscriptContainer">
                <h1>Hasil</h1>
                <p id="speechText">{{ transcript }}</p>
            </div>
        {% endif %}
    
        <p></p>
        <p></p>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="{{ url_for('static', filename='js/WebAudioRecorder.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>

    <div>
        <body>
            <div>
                <div>
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-10"><h2>Tabel Dataset</h2></div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                            </div>
                            <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
                        </div>
                    </div>
           <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Phone</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in employee %}    
                            <tr>
                                <td>{{row.name}}</td>
                                <td>{{row.department}}</td>
                                <td>{{row.phone}}</td>
                                <td>
                                    <a class="add" title="Add" data-toggle="tooltip" id="{{row.id}}"><i class="fa fa-user-plus"></i></a>
                                    <a class="edit" title="Edit" data-toggle="tooltip" id="{{row.id}}"><i class="fa fa-pencil"></i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.id}}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>   
                            {% endfor %}    
                        </tbody>
                    </table>
                </div>
            </div>     
        </body>
    </div>
</div>

{% endblock %}