{% extends 'layout.html' %}

{% block title %}Data Spesifik{% endblock %}

{% block content %}
<h2>Halaman Data Spesifik</h2>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <style>
        .content {
        width: 1000px;
        margin: 0 auto;
        }
        .content h2 {
        margin: 0;
        padding: 10px 0;
        font-size: 25px;
        border-bottom: 1px solid #e0e0e3;
        color: #4a536e;
        }
    </style>
    <body>
        <div class="content">
            <br>
            <h2>Table Spesifik PTTA</h2><br/>
            <select name="search_filter" id="search_filter" class="form-control">
            <option value="">Select Option</option>';
            {% for row in data %}
                <option value="{{row.nama_ptta}}">{{row.nama_ptta}}</option>';    
            {% endfor %}
            </select>
            <input type="hidden" name="hidden_value" id="hidden_value" />
            <!-- <div style="clear:both"></div> -->
            <br />
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID PTTA</th>
                            <th>Nama PTTA</th>
                            <th>Posisi Sayap</th>
                            <th>Kemiringan Sayap</th>
                            <th>Bentuk Sayap</th>
                            <th>Arah Sayap</th>
                            <th>Jenis Mesin</th>
                            <th>Jumlah Mesin</th>
                            <th>Posisi Mesin</th>
                            <th>Bentuk Badan</th>
                            <th>Hidung Badan</th>
                            <th>Tengah Badan</th>
                            <th>Posisi Ekor</th>
                            <th>Jumlah Ekor</th>
                            <th>Bentuk Ekor</th>
                            <th>Persenjataan</th>
                            <th>Warna</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
        </div>
<script>
$(document).ready(function(){
    load_data();
    function load_data(query='')
    {
        $.ajax({
            url:"/fetchrecords",
            method:"POST",
            data:{query:query},
            success:function(data)
            { 
                $('tbody').html(data);
                $('tbody').append(data.htmlresponse);
            }
        })
    }
 
    $('#search_filter').change(function(){
        $('#hidden_value').val($('#search_filter').val());
        var query = $('#hidden_value').val(); 
        load_data(query);
    });
     
});
</script>
</body>
{% endblock %}
</html> 