{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Halaman Dashboard</h2>
<p>Welcome back, {{ username }}!</p>

<div>
    <p><td>Berikut merupakan tata cara penggunaan website: </td></p>
        <ol>
            <li>Halaman Dashboard</li>
            <p>Pada Halaman ini terdapat blablabla dan dihalaman ini anda dapat melihat tata cara 
                penggunaan website mulai dari awal hingga akhir jadi baca dengan seksama agar tidak dapat
                kendala ketika penggunaannya</p>
            <li>Halaman Training</li>
            <p>Pada Halaman ini terdapat data latih yang tujuan utamanya adalah melatih data sehingga 
                pada proses pengujian hasilnya semakin akurat dan dihalaman ini anda dapat melihat tata cara 
                penggunaan website mulai dari awal hingga akhir jadi baca dengan seksama agar tidak dapat
                kendala ketika penggunaannya</p>
            <li>Halaman Input</li>
            <p>Pada Halaman ini terdapat input data yang mana untuk menginputkan semua data pada halaman tersebut 
                sehingga akan menunggu akan outputnya dan dihalaman ini anda dapat melihat tata cara 
                penggunaan website mulai dari awal hingga akhir jadi baca dengan seksama agar tidak dapat
                kendala ketika penggunaannya</p>
            <li>Halaman Testing</li>
            <p>Pada Halaman ini terdapat blablabla dan dihalaman ini anda dapat melihat tata cara 
                penggunaan website mulai dari awal hingga akhir jadi baca dengan seksama agar tidak dapat
                kendala ketika penggunaannya</p>
            <li>Halaman Dataset
              <ol>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
              </ol>
            </li>
            <li>Halaman Profil</li>
            <p>Pada Halaman ini terdapat blablabla dan dihalaman ini anda dapat melihat tata cara 
                penggunaan website mulai dari awal hingga akhir jadi baca dengan seksama agar tidak dapat
                kendala ketika penggunaannya</p>
        </ol>
        <hr>
    <p><td><b>Hak Cipta</b></td></p>
</div>


{% endblock %}