{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<h2>Halaman Dashboard</h2>
<p>Welcome back, {{ username }}!</p>

<div>
    <p><td>Berikut merupakan tata cara penggunaan website: </td></p>
        <ol>
            <li>Halaman Dashboard</li>
            <p>Pada Halaman ini terdapat informasi penting dan dihalaman ini pula anda dapat melihat tata cara
                penggunaan website mulai dari awal hingga akhir. Perlu dibaca dengan seksama agar tidak dapat
                kendala ketika penggunaannya</p>
            <li>Halaman Training</li>
            <p>Pada Halaman training sesuai dengan nama halaman tersebut yaitu untuk melatih data guna 
                mendapatkan akurasi terbaik. Dihalaman tersebut tersedia urutan penggunaan website sehingga
                bisa langsung dibaca dihalaman itu juga
            </p>
            <li>Halaman Input</li>
            <p>Di halaman ini anda akan memasukkan data secara Real-Time dan hasil pun akan muncul</p>
            <li>Halaman Testing</li>
            <p>Di halaman ini anda dapat melihat akurasi dan F-1 Score yang mana bisa menjadikan acuan untuk
                mengambil keputusan
            </p>
            <li>Halaman Dataset
              <ol>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
              </ol>
            </li>
            <li>Halaman Profil</li>
            <p>Terdapat Username, Password, dan email yang sedang anda gunakan. Sehingga anda dapat mengetahui
                dengan menggunakan nama apa anda memasukki website ini
            </p>
        </ol>
        <hr>
    <p class="text-center">Copyright &copy; Abdullah</p>
</div>


{% endblock %}