{% for row in datalist %}  
<tr>
    <td>{{row.id_data}}</td>
    <td>{{row.nama_ptta}}</td>
    <td>{{row.posisi_sayap}}</td>
    <td>{{row.kemiringan_sayap}}</td>
    <td>{{row.bentuk_sayap}}</td>
    <td>{{row.arah_sayap}}</td>
    <td>{{row.jenis_mesin}}</td>
    <td>{{row.jumlah_mesin}}</td>
    <td>{{row.posisi_mesin}}</td>
    <td>{{row.bentuk_badan}}</td>
    <td>{{row.hidung_badan}}</td>
    <td>{{row.tengah_badan}}</td>
    <td>{{row.posisi_ekor}}</td>
    <td>{{row.jumlah_ekor}}</td>
    <td>{{row.bentuk_ekor}}</td>
    <td>{{row.persenjataan}}</td>
    <td>{{row.warna}}</td>
</tr>
{% endfor %} 